.card-container {
  background-color: white;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.4;
  padding: 3px 1px;
}

.bg-container {
  font-family: "Arial";
  max-width: 60vw;
}

p {
  color: #555;
  font-family: "Roboto";
}

pre {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background: #eee;
  width: 100vw;
}
div > .firstimg {
  position: relative;
  background-size: cover;
  z-index: 1;
  width: 700px;
  height: 300px;
}
.secondimg {
  border: 1px solid;
  background-size: cover;
  background-color: #555;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 500px;
  top: 100px;
  z-index: 2;
}


@media screen and (min-width:700px) {
  pre {
      width: 60vw;
  }
}

h2 {
  margin-top: 2px;
  padding-top: 2px;
}